<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSPowerPack.Core.Community" version="3.0.0.0" targetFramework="net472" />
  <package id="FSharp.Core" version="4.5.2" targetFramework="net45" />
  <package id="FSharp.Compiler.Tools" version="10.0.2" targetFramework="net45" />
  <package id="System.Drawing.Common" version="5.0.0-rc.1.20451.14" targetFramework="net472" />
</packages>